<div *ngIf="dataFromDatabase;else err" class="container data-table">
    <div class="headers">
      <h2 class="table-title">Welcome to DB View</h2>
      <button class="btn add" (click) ="openForm()">Add Record</button>
    </div>

    <table class="table">
        <thead>
            <tr>
              <th>id</th>
              <th>names</th>
              <th>email</th>
              <th>Mobile Number</th>
              <th>Address</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let n of database">
              <td>{{n['id']}}</td>
              <td>{{n['names']}}</td>
              <td>{{n['email']}}</td>
              <td>{{n['PhoneNumber']}}</td>
              <td>{{n['Address']}}</td>
              <td>
                <button class="btn btn-primary" (click) ="openForm(n)">Edit Record</button>
              </td>
              <td>
                <button class="btn btn-danger red" (click)="deleteRecord(n['id'])"> Delete Record</button>
              </td>
            </tr>
        </tbody>
    </table>
</div>


<ng-template #err >

  <p class="text-danger">error fetching data</p>

</ng-template>


<div class="form-wrapper" *ngIf="showForm">
    <div class="dataForm">
      <h2 class="text-info text-center">{{ formHeader }}</h2>
      <div class="group">
        <label for="price">name</label>
        <input type="text" class="form-control" [(ngModel)]="names" name="names">
      </div>
      <div class="group">
        <label for="ram">Email</label>
        <input type="text" class="form-control" [(ngModel)]="email" name="email">
      </div>
      <div class="group">
        <label for="storage">Mobile</label>
        <input type="text" class="form-control" [(ngModel)]="PhoneNumber" name="PhoneNumber">
      </div>
      <div class="group">
        <label for="text">Address</label>
        <input type="text" class="form-control" [(ngModel)]="Address" name="Address">
      </div>
      <div class="action">
        <button class="btn btn-primary save" (click)="updateDataTODb()">Save Changes</button>
        <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
      </div>
    </div>
  </div>
  





 <!-- <div class="form-wrapper" *ngIf="showForm">
  <div class="dataForm">
      <h2 class="text-info text-center">{{formHeader}}</h2>

      <div class="group">
          <label for="price">name</label>
          <input type="text" class="form-control" [(ngModel)]="names" name="names" >
      </div>
      <div class="group">
          <label for="ram">Email</label>
          <input type="text" class="form-control" [(ngModel)]="email" name="email" >
      </div>
      <div class="group">
          <label for="storage">Mobile</label>
          <input type="text" class="form-control" [(ngModel)]="PhoneNumber" name="PhoneNumber" >
      </div>
      <div class="group">
          <label for="text">Address</label>
          <input type="text" class="form-control" [(ngModel)]="Address" name="Address" >
      </div>
      <div class="action">
          <button class="btn btn-primary save" (click)="updateDataTODb()">Save Changes</button>
          <button class="btn btn-danger cancel" (click)="closeForm()">Cancel</button>
      </div>
  </div>
</div>  -->